.header_iso_copy {
    background-image:url(../../../../themes/flexible/icons/back.svg);
}

.iso_be_overview #main h1:first-child {
    display: none;
}

.tl_iso_category_sorting {
    padding:10px 0 0 8px;
}

.be_iso_introduction {
    margin-top: 18px;
}

.be_iso_introduction h2 {
    margin: 1em 0;
}

.iso_operations {
    width: 114px;
}