/vendor/
/node_modules/
/composer.lock
/package-lock.json
/.php_cs.cache

# changes for development and test purposes, not to be committed or pushed to remote
/tools/
ecs.php
phpstan.neon

# Preventing commit of composer.json via "git update-index --skip-worktree composer.json"
