# Ignore everything (useful to ignore the whole Contao installation)
/*

# Do not ignore ".gitignore"
!.gitignore
!.tx
!README.md
!composer.json
!.scrutinizer.yml
!.travis.yml

# Isotope ignoring rules
!isotope/
isotope/*
!isotope/.htaccess
!isotope/index.html
!system/
system/*
!system/drivers/
system/drivers/*
!system/modules
system/modules/*
!system/modules/isotope*

# Gulp and node modules
!gulpfile.js
!package.json
node_modules/
