parameters:
    level: 0
    paths:
        - system/modules/isotope/library
        #- system/modules/isotope_reports/library
        #- system/modules/isotope_rules/library
        #- system/modules/isotope/drivers/
    ignoreErrors:
        - '#Unsafe usage of new static\(\)\.#'
    excludePaths:
        - system/modules/isotope/library/UnitedPrototype
