.iso_reports .item a {
	display: block;
	width:100px;
	height: 70px;
	margin-right: 8px;
	margin-bottom: 5px;
	margin-top: 15px;
	padding: 5px;
	border-radius: 5px;
	float:left;
	text-align: center;
}
.iso_reports .item span {
	display: block;
}
table.iso_report {
	border-collapse: separate;
}
table.iso_report .tl_file_list {
	line-height:1.5;
}
table.iso_report .tl_file_list .variant {
	font-size:10px;
	color:#999;
}
.iso_report tfoot td {
	border-top: 1px solid #bbb;
}
.iso_report tfoot .variant {
	font-size:10px;
	color:#999;
	font-weight:normal;
}
.tl_subpanel input.tl_text.datepicker {
	width: 100px;
}
.tl_subpanel.tl_columns input.tl_text {
	width: 50px;
}
.iso_report .tl_help, .iso_report .tl_help a {
	font-size: 11px;
	color: #666966;
}