.header_isotope_tools{background-image:url(tools.png);background-position:left center;background-repeat:no-repeat;padding:2px 0 3px 20px}
.header_import_assets{background-image:url(assets.gif);background-position:left center;background-repeat:no-repeat;padding:2px 0 3px 20px}
.header_product_category_link{background-image:url(refresh.png);background-position:left center;background-repeat:no-repeat;padding:2px 0 3px 20px}
.tl_mediamanager th,.tl_mediamanager td{padding:2px 10px 0 0}
.tl_mediamanager input.tl_text_2{width:220px}
.tl_mediamanager textarea{height:40px;width:300px}
.mod_iso_orderdetails .info_container{float:left;width:200px;border:1px dotted #ccc;margin:0 10px 10px 0;padding:10px}
.mod_iso_orderdetails .info_container h3{margin-top:0;margin-bottom:5px}
.mod_iso_orderdetails table{margin-top:20px;border-top:1px dotted #ccc;width:100%}
.mod_iso_orderdetails tbody td{border-bottom:1px dotted #ccc;vertical-align:top;padding:5px}
.mod_iso_orderdetails ul{margin:0;padding:0 0 0 10px}
.mod_iso_orderdetails li{margin-left:10px;list-style-type:disc;padding:0}
.mod_iso_orderdetails .price{text-align:right}
.mod_iso_orderdetails tfoot td{text-align:right;padding:5px 5px 0}
.w50h{height:auto}
.tl_tree .tl_left a{float:left;margin-top:10px}
.tl_tree .tl_right{height:auto;text-align:right}
.iso_product{margin-top:2px;margin-left:22px;margin-bottom:2px;width:530px}
.iso_product .thumbnail{padding-right:5px;float:left;width:34px;height:34px}
.iso_product p{font-weight:bold;margin:0 0 5px 0;padding:0}
.iso_product p span{font-weight:normal}
.tl_tree .iso_product a{float:none;margin-top:0}
h3.inherit,.tl_checkbox_single_container.inherit{background-color:#f8f8f8;margin:14px 0 1px;padding:2px 2px 2px 0}
.tl_productswizard{width:100%}
.tl_productswizard th{text-align:left;padding:5px}
.tl_productswizard td{padding:5px}
.tl_productswizard .col_first{width:20px}
.tl_productswizard .jserror td{border:2px solid red;background-color:#FAEEEE}
.tl_productswizard .search input.tl_text{background-position:318px 2px;background-repeat:no-repeat;padding-right:20px}
#isotopetoolsmenu,#isotope-contextmenu{display:none;position:absolute;z-index:99999999;background-color:#fff;border:1px solid #ccc;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;padding:3px 6px}
#isotopetoolsmenu a,#isotope-contextmenu a{display:block;padding-top:3px;white-space:nowrap}
#isotopetoolsmenu img,#isotope-contextmenu img{padding-bottom:1px;vertical-align:middle}
#tl_product_quick_edit th{text-align:left}