.header_import_assets { padding:2px 0px 3px 20px; background-image:url("assets.gif"); background-position:left center; background-repeat:no-repeat; }
.tl_mediamanager th, .tl_mediamanager td { padding: 2px 10px 0 0; }
.tl_mediamanager input.tl_text_2 { width: 220px; }
.tl_mediamanager textarea { height: 40px; width: 300px; }
.tl_right_nowrap { vertical-align: top; padding-top:8px; }
.mod_isoOrderDetails .info_container { float:left; width:200px; border: 1px dotted #ccc; padding: 10px; margin: 0 10px 10px 0; }
.mod_isoOrderDetails .info_container h3 { margin-top: 0; margin-bottom: 5px }
.mod_isoOrderDetails table { margin-top: 20px; border-top: 1px dotted #ccc; width: 100% }
.mod_isoOrderDetails tbody td { padding: 5px; border-bottom: 1px dotted #ccc; vertical-align: top }
.mod_isoOrderDetails ul { margin: 0; padding: 0; padding-left: 10px; }
.mod_isoOrderDetails li { margin-left: 10px; padding: 0; list-style-type: disc; }
.mod_isoOrderDetails .price { text-align: right }
.mod_isoOrderDetails tfoot td { text-align: right; padding: 5px 5px 0 5px; }
.w50h { height: auto; }
.iso_product { margin-top: -17px; margin-left: 25px; padding-bottom: 2px; }
.parent .iso_product { margin-top: 2px; }