/* TYPOlight catalog fields style sheet */

.header_css_export { padding:2px 0px 3px 20px; background-image:url("export.gif"); background-position:left center; background-repeat:no-repeat; }



.field_heading { color:#aaa; }

.field_type img { vertical-align: middle; }

.field_heading { color:#aaa; }

.field_type img { vertical-align: middle; }